__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.spec
*.pkg
*.exe
*.pyc
.vscode/
src/build/
src/dist/
Test Files/
*.xlsx
*.xltm
# Exception: Include template files in templates directory
!templates/
!templates/*.xlsx
!templates/*.xltm
*.egg-info/
cache/
logs/
geocode_cache.csv
last_paths.json
pole_mapper_config.json 